
.team{
    position: fixed;
    top:0px;
    right: auto;
    left: 18%;
    width: 75%;
    height: 100%;
}

.team .teamInfo{ /*leaderboard*/
    position: fixed;
    width: 70%;
    height: auto;
}

.team .createT{
    position: fixed;
    font-size: 2em;
    top: 30%;
    left: 22%;
}
.team .chooseC{
    position: fixed;
    font-size: 2em;
    top: 30%;
    right: 16%;

}


/*Form Create Team Info*/

.team .field1{
   position: fixed;
    top: 36%;
    left: 22%;
    width: 13%;
    height:5%;
}

.team .field2{
  position: fixed;
    top: 43%;
    left: 22%;
    width: 13%;
    height:5%;

}

.team .field3{
  position: fixed;
    top: 50%;
    left: 22%;
    width: 13%;
    height:5%;

}

.team .enter{
    position: fixed;
    font-size: 0.9em;
    top: 57%;
    left: 22%;

}

.team .email{
  position: fixed;
    top: 62%;
    left: 22%;
    width: 13%;
    height:5%;

}

.team .upload{
   position: fixed;
    top: 55%;
    left: 46%;
    font-size: 1em;
    text-align: center;
}
/*End Form Create Team Info*/

/*Buttons*/

.team .greenButton{
   position: fixed;
    top: 75%;
    right: 15%;
    width: 18%;
    height: auto;
}

/*End Button Edition*/

.img-box{
    position: fixed;
    top: 60%;
    right: 42%;
    width: 12%;
    height: auto;
}