.team{
    position: relative;
    top: -1000px;
    right: auto;
    left: 18%;
    width: 75%;
    height: 100%;
}

.team .leaderboard{ /*leaderboard*/
    position: absolute;
    width: 90%;
    height: auto;
}

.team .createT{
    position: absolute;
    font-size: 2em;
    top: 200px;
    left: 4%;
}
.team .chooseC{
    position: absolute;
    font-size: 2em;
    top: 200px;
    right: 12%;

}

/*Form Create Team Info*/

.team .teamName{
   position: absolute;
    top: 240px;
    left: 4%;
    width: 13%;
    height:25px;
}

.team .companyName{
   position: absolute;
    top: 280px;
    left: 4%;
    width: 13%;
    height:25px;
}

.team .teamDescription{
    position: absolute;
    top: 320px;
    left: 4%;
    width: 13%;
    height:25px;
}

.team .enter{
    position: absolute;
    top: 360px;
    left: 4%;
    width: 13%;
    height:25px;
}
.team .email{
    position: absolute;
    top: 400px;
    left: 4%;
    width: 13%;
    height:25px;
}
.team .upload{
    position: absolute;
    top: 350px;
    left: 36%;
    font-size: 1em;
    text-align: center;
}
/*End Form Create Team Info*/

/*Buttons*/

.team .greenButton{
   position: absolute;
    top: 550px;
    right: 15%;
    width: 18%;
    height: auto;
}

/*End Button Edition*/

.img-box{
    position: absolute;
    top: 400px;
    right: 46%;
    width: 17%;
    height: auto;
}
.upload-area{
    position: absolute;
    top: 550px;
    right: 46%;
    width: 17%;
    height: auto;
}

 .charityID{
    position: absolute;
    top: 240px;
    right: 20%;
    width: 13%;
    height:25px;
}

.click{
    position: absolute;
    top: 275px;
    right: 13%;
    font-size: 0.9em;

}

.charity-names{
    position: absolute;
    top: 350px;
    right: 17%;
    font-size: 0.9em;
    width: 25%;
    height:180px;;
    overflow: scroll;
}
.emails-names{
    position: absolute;
    top: 450px;
    left: 4%;
    font-size: 0.9em;
    width: 20%;
    height:150px;;
    overflow: scroll;
}
