@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
.mug-holder,
.mug-holder::before::after,
.mug-holder::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mug-holder {
  position: fixed;
  width: 80%;
  height: auto;

}

a {
  display: block;
  width: 30%;
  height: 30%;

}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  background:#83AC30;
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 20%; /*must be the same as the menu*/
  left: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
  border-radius: 4px;
  -mox-border-radius: 4px;
}


.menu-opener-inner { /*white lines*/
  background: white;
  height: .5rem;
  margin-left: 1.7rem;
  margin-top: 0.7rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after { /*white lines*/
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu { /*menu opened*/
  background: #B5DA47;
  color: #83AC30;
  height: 64px; /*alter the size of the menu that opens*/
  position: absolute;
  top: 20%;  /*to fit in the mug, must be the same as the mug*/
  left:5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
    border-radius: 4px;
   -mox-border-radius: 4px;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner { /*name of the menus*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem; /*distance between the mug and the first menu*/
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: 15px; /*margin of the menus f*/
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 0.6em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}


 .c1 { /*circle, holder*/
    list-style: none;
    width: 25px;
    height: 25px;
    margin-top:10px;
    margin-left:-22px;
    border-radius: 100px;
    border: 7px solid #83AC30;
}



