.images{
position: fixed;
width: 20%;
height: auto;
right: 0px;
}

.images .fb:hover{
	border: 3px solid #003399;
	border-radius: 10px;
}

.images .twitter:hover{
	border: 3px solid #0099FF;
	border-radius: 10px;
}

.images .google:hover{
	border: 3px solid #CC0000;
	border-radius: 10px;
}

.menu-opener:hover{
	color: #00FF99;
}